<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UserAccountGroupManagement.DAL.Properties.Settings.UserAccountGroupManagementConnectionString"
            connectionString="Data Source=dev2;Initial Catalog=UserAccountGroupManagement;User ID=dev;Password=dev"
            providerName="System.Data.SqlClient" />
        <add name="UserAccountGroupManagement.DAL.Properties.Settings.UserAccountGroupManagementConnectionString1"
            connectionString="Data Source=dev2;Initial Catalog=UserAccountGroupManagement;Persist Security Info=True;User ID=dev;Password=dev"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>